@import 'libs/bootstrap-reboot.min';
@import 'base/variables';

* {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.divider {
    width: 148px;
    height: 1px;
    background-color: $main-color;
    margin: 0 auto;
    margin-top: 20px;
}

@import 'blocks/promo';
@import 'blocks/buttons';
@import 'blocks/media';
@import 'blocks/advantages';
@import 'blocks/title';
@import 'blocks/delivery';
@import 'blocks/agent';
@import 'blocks/price';
@import 'blocks/managers';
@import 'blocks/job';
@import 'blocks/questions';