.button {
    width: 160px;
    height: 45px;
    background-color: $main-color;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    border: none;
    border-radius: 30px;
    &:hover {
        color: $main-color;
        background-color: #ffffff;
        transition: 0.5s all;
    }
    &__big {
        width: 230px;
        height: 57px;
        font-size: 15px;
        font-weight: 700;
        margin-top: 40px;
        margin-left: 50%;
        transform: translateX(-50%);
    }
}