.job {
    min-height: 454px;
    background: url('../img/bg/advantages.jpg') center center/cover no-repeat;
    padding-top: 51px;
    &__wrapper {
        margin-top: 33px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 26px;
        column-gap: 30px;
    }
    &-item {
        width: 257px;
        &__icon {
            display: flex;
            justify-content: center;
        }
        &__title {
            color: $main-color;
            font-size: 16px;
            font-weight: 700;
            text-align: center;
            padding-top: 7px;
        }
        &__descr {
            color: #3a3a3a;
            font-size: 14px;
            font-weight: 300;
            line-height: 20px;
            text-align: center;
        }
    }
}