.managers {
    min-height: 342px;
    background: url('../img/bg/managers.jpg') center center/cover no-repeat;
    &__pic {
        padding-top: 58px;
        display: flex;
        justify-content: center;
    }
    &__title {
        color: #ffffff;
        font-size: 26px;
        font-weight: 700;
        line-height: 23px;
        padding-top: 20px;
        text-align: center;
    }
    &__descr {
        color: #ffffff;
        font-size: 19px;
        font-weight: 300;
        line-height: 27px;
        margin-top: 18px;
        text-align: center;
        padding: 0 10px 0 10px;
    }
}