@media (max-width: 1200px) {
    .container {
        width: 950px;
        padding: 0 10px;
    }
    .promo {
        &__list {
            font-size: 13px;
            width: 470px;
            li {
                justify-content: space-around;
                ul {
                    &:after {
                        display: none;
                    }
                }
            }
        }
        &__questions {
            font-size: 13px;
        }
        &__phone {
            font-size: 18px;
        }
    }
    .feature-item {
        &__descr {
            font-size: 14px;
        }
    }
    .advantages {
        &__wrapper {
            grid-template-columns: repeat(auto-fill,minmax(490px,auto)) !important;
            grid-template-rows: repeat(auto-fill,minmax(62px,auto)) !important;
        }
    }
}

@media (max-width: 992px) {
    .container {
        width: 720px;
    }
    .button {
        display: none;
    }
    .promo {
        &__social {
            min-width: unset;
        }
        &__list {
            font-size: 12px;
            padding-left: 10px;
        }
        &__title {
            font-size: 22px;
        }
        &__subtitle {
            font-size: 57px;
        }
        &__descr {
            font-size: 37px;
        }
    }
    .line {
        &__wrapper {
            display: none;
        }
    }
    .features {
        &__wrapper {
            flex-direction: column;
            gap: 10px;
        }
    }
}

@media (max-width: 768px) {
    .container {
        width: 550px;
    }
    .promo {
        &__list {
            display: none;
        }
        &__header {
            justify-content: space-around;
        }
        &__title {
            font-size: 18px;
        }
        &__subtitle {
            font-size: 43px;
        }
        &__descr {
            font-size: 27px;
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
    }
    .title {
        font-size: 20px;
    }
    .advantages {
        &__wrapper {
            grid-template-columns: repeat(auto-fill,minmax(250px,auto)) !important;
        }
        &-item {
            grid-template-columns: minmax(250px,auto) !important;
            &__icon {
                display: none;
            }
        }
    }
}